<!DOCTYPE html>

<head>
  <title>Carleton Course Classifier</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="container mx-auto m-5">

    <h1 class="text-4xl">Carleton Course Classifier</h1>

    <form action="/" method="post" class="flex flex-col gap-3 mt-10">
      <textarea name="description" id="description" cols="100" rows="4" placeholder="Enter your description here"
        class="border rounded border-slate-300 p-3 max-w-3xl mx-auto shadow-sm">{{description}}</textarea>
      <button type="submit"
        class="bg-rose-400 rounded hover:shadow-md cursor-pointer py-2 px-1 w-24 mx-auto text-white font-bold">Predict!</button>

    </form>


    {% if predictions %}

    <div class="mx-auto max-w-3xl text-center space-y-6 my-16 rounded bg-green-100 p-4 shadow-lg">
      <p>This sounds like it could be...</p>
      <p class="font-bold text-4xl">
        <span>{{predictions["dept"][0][0].upper()}}</span>
        <span>{{predictions["level"][0][0] + randint(1, 99)}}</span>
      </p>
    </div>



    <h2 class="text-3xl text-center">Detailed Predictions</h2>
    <hr class="mx-auto max-w-xl px-10 mb-10 mt-2">

    <div class="grid grid-cols-2 gap-10 items-start mx-auto max-w-4xl">

      <table>
        <thead>
          <td class="border-b border-slate-300 font-bold">Department</td>
          <td class="border-b border-slate-300 font-bold">Confidence</td>
        </thead>
        {% for deptartment, probability in predictions["dept"] %}
        <tr>
          <td>{{ deptartment.upper() }}</td>
          <td>{{ "{:0.2%}".format(probability) }}</td>
        </tr>
        {% endfor %}
      </table>
      <table>
        <thead>
          <td class="border-b border-slate-300 font-bold">Level</td>
          <td class="border-b border-slate-300 font-bold">Confidence</td>
        </thead>
        {% for level, probability in predictions["level"] %}
        <tr>
          <td>{{level}}</td>
          <td>{{ "{:0.2%}".format(probability) }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}
  </div>

</body>

</html>